:root {
    --blue1: #EDfafd;
    --blue2: #2a93d5;
    --blue3: #135589;
    --teal: #3ddad8;
    --light: #aed9da;
  }
  
  * {
    font-family: 'Open Sans', sans-serif;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--blue1);
    color: var(--blue3);
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--blue3);
  }
  
  .name {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--teal);
  }

  .name-container {
    display: flex;
    align-items: center;
  }
  
  .header-picture {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }


  
  nav {
    display: flex;
    justify-content: center;
  }
  
  nav a {
    color: var(--teal);
    text-decoration: none;
    padding: 8px 16px;
  }
  
  nav a:hover {
    color: var(--light);
  }
  
  .content-section {
    display: flex;
    padding: 10px;
    height: auto;
  }
  
  .vertical-line {
    height: 100%;
    width: 6px;
    background-color: var(--teal);
    margin: 0 10px;
    align-self: stretch;
  }

  .about-section-content {
    display: flex;
    align-items: flex-start;
  }
  


  .content-section p {
    display: flex;
    align-items: center;
    padding-left: 25px;
  }
  
  .work-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 30px);
    margin-left: 30px;
  }
  
  .large-container {
    position: relative;
    width: 99.8%; 
    height: 300px;
    margin-bottom: 10px;
    border: 2px solid var(--blue3);
    margin-left: auto;
    margin-right: auto;
  }
  
  .small-container-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    gap: 10px; /* Add gap to control the space between small containers */
  }
  
  .small-container {
    position: relative;
    width: calc(50% - 5px); 
    height: 175px; 
    border: 2px solid var(--teal);
    border: 2px solid var(--blue3);
  }
  
  footer {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 1.5rem;
  }
  
  footer h3 {
    margin-right: 10px;
  }
  
  footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  footer li {
    margin-right: 50px;
    font-size: 1rem;
    
  }

  .large-container {
    position: relative;
    width: 99.8%;
    height: 300px;
    margin-bottom: 10px;
    border: 2px solid var(--blue3);
    margin-left: auto;
    margin-right: auto;
    background-image: url('../images/sleepshop.png');
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;
  }

  .small-container-1 {
    background-image: url('../images/cravinbusters.png');
    background-size: 100%;
    background-repeat: no-repeat; 
    background-position: center;
  }
  
  .small-container-2 {
    background-image: url('../images/workday.png');
    background-size: 100%;
    background-repeat: no-repeat; 
    background-position: center;
  }
  
  .small-container-3 {
    background-image: url('../images/Horiseon.png');
    background-size: 100%;
    background-repeat: no-repeat; 
    background-position: center;
  }
  
  .small-container-4 {
    background-image: url('../images/weather.png');
    background-size: 100%;
    background-repeat: no-repeat; 
    background-position: center;
  }

  .inner-box {
    position: absolute;
    bottom: 10px;
    right: 0px;
    width: 150px;
    height: 50px;
    background-color: var(--blue3);
    z-index: 1;
    color: var(--light);
    text-align: right;
    padding-top: 15px;
    padding-right: 5px;
    text-align: right;
    font-size: .8rem;
    box-sizing: border-box;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }