/* Credit to Image by https://www.freepik.com/free-vector/realistic-black-shimmer-background_37452016.htm#query=background&position=49&from_view=keyword&track=sph" for the background image */

@import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Open+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Merriweather:ital,wght@0,300;1,300&family=Open+Sans:wght@300&display=swap');


:root {
    --primary-color1: #fafafa;
    --secondary-color1: #eaeaea;
    --tertiary-color1: #659BDB;
    --quinary-color1: #659BDB;
}

[data-theme='dark'] {
    --primary-color: #0b0c10;
    --secondary-color: #08494d;
    --tertiary-color: #C5C6C7;
    --quinary-color: #116466;
}

/* Main app settings */
.App {
    font-family: 'Open Sans', sans-serif;
    /* background-image: url('../assets/background.avif');
    background-size: cover;
    background-repeat: no-repeat; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--primary-color);
    
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 768px) {
    .App {
        background-size: 800px 2000px;
    }
}

p {
    color: var(--primary-color);
}

h1 {
    color: var(--quinary-color);
    font-family: 'Merriweather', serif;
    
}

h2 {
    color: var(--quinary-color);
    font-family: 'Merriweather', serif;
    font-size: 2.7rem;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4); 
    -webkit-text-stroke: 1px var(--quinary-color);
}

h3 {
    color: var(--tertiary-color);
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
}
/* -------------------------------- */

/* About Me */
.main-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    min-height: 75vh;
    }


.left-content, .right-content {
    width: 50%;  
    max-width: 50%;  
    padding: 20px;
    border-radius: 5px;
    overflow-wrap: break-word;
}

.right-content {
    width: 40%;  
    max-width: 40%; 
    background-color: #000;
    display: flex;
    align-items: center;  
    justify-content: center;  
}

.left-content img {
    width: 150px; 
    height: 150px;
    margin-top: 20px;
    border-radius: 50%;
    
}

.left-content .abparagraph {
    max-width: 80%; 
    margin-bottom: 20px;
    text-align: justify; 
    }

.left-content p {
    font-size: 1.5rem;
    font-weight: 1000;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: var(--quinary-color);
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4); 
    -webkit-text-stroke: 1px var(--tertiary-color);
    }


@media only screen and (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }

    .left-content .abparagraph p {
        text-align: left;
    }

    .left-content, .right-content {
        width: 100%; 
        max-width: 100%;
    }

    .right-content {
        width: 100%;
        max-width: 100%;
    }
    .console-line {
        font-size: 0.8rem; /* smaller font size for mobile views */
    }
}
/* -------------------------------- */

/* Header Settings */
.header-container {
    
    padding: 50px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
}

.header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.name {
    font-size: 1.2em; 
}

.title {
    font-size: 0.5em; 
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bracket {
    font-size: 2.0em; 
    color: var(--quinary-color);
}
@media only screen and (max-width: 768px) {
    .header-container {
        padding: 20px; 
        margin-left: 20px;
    }

    .name {
        font-size: 1.0em; 
    }

    .title {
        font-size: 0.5em; 
    }

    .bracket {
        font-size: 2.7em; 
    }
    
}

/*-------------------/*
/* Footer Settings */
.logos {
    display: flex;
    justify-content: space-between;
  }

.logos ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}
  
  .logos .logo {
    margin-right: 20px;
}

.toggleThemeButton {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.toggleThemeButton svg {
    fill: var(--quinary-color);
    transition: fill 0.3s ease; 
    background: none;
    border: none;
    margin-left: 10px;
}

.toggleThemeButton:hover svg {
    fill: var(--tertiary-color); 
}

.FooterWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* -------------------------------- */
/* Navbar setting */
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.nav {
    display: flex;
    gap: 16px;
    list-style-type: none;
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    
}

.nav a {
    text-decoration: none;
    color: var(--tertiary-color);
    font-weight: bold;
    font-size: 30px;
}

.nav a:hover {
    text-decoration: underline;
}

.nav-link.active {
    font-style: italic;
    text-shadow: 1px 1px 1px #000000;
}

.nav-item::after {
    content: '|';
    padding-left: 15px;
    padding-right: 15px;
    color: var(--quinary-color);
  }
  
  .nav-item:last-child::after {
    content: '';
  }

  @media only screen and (max-width: 1200px) {
    .nav {
        flex-direction: column;
        gap: 0;
    }

    .nav-item {
        border-bottom: 1px solid var(--quinary-color); /* horizontal line separator */
    }

    .nav-item::after {
        content: ''; /* remove vertical separator */
    }

    .nav-item:last-child {
        border-bottom: none; /* remove border for the last item */
    }
}


/* -------------------------------- */ 
/* SVG Logo settings */

  .logo a svg {
    fill: var(--quinary-color);
}

.logo a:hover svg {
    fill: var(--tertiary-color);
}

.logo1 a svg {
    fill: var(--quinary-color);
}

.logo1 a:hover svg {
    fill: var(--tertiary-color);
}
/* -------------------------------- */
/* Resume settings */

.resumecontainer {
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--tertiary-color);
    margin-top: 50px;
  
}

.resumecontainer li {
    font-size: 1.5em; 
    margin-bottom: 10px; 
    
  }
  
.resumecontainer a {
    font-size: 2em; 
    color: var(--quinary-color);
}

  .resumecontainer h2 {
    margin-top: -50px; 
}

.resumecontainer ul {
    margin-top: -10px; 
}
@media screen and (min-width: 1100px) { 
    .resumecontainer {
        margin-bottom: 300px;
    }
}
/* -------------------------------- */
/* Project settings */

.projectcontainer {
    /* margin-left: 50px; */
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projectcontainer p {
    text-align: center; 
    width: 100%; 
    max-width: 800px; 
    margin-bottom: 20px; 
    color: var(--quinary-color);
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4); 
    -webkit-text-stroke: 1px var(--tertiary-color);
    
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    }

.grid-item {
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 350px;
    position: relative;
    overflow: hidden;
}

.github-link,
.project-title {
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-family: bold;
}

.github-link {
    bottom: 10px;
    right: 10px;
}

.github-logo {
    width: 50px;
    height: 50px;
    transform: scale(1);
    transition: transform 0.3s ease, color 0.3s ease;
}

.project-title {
    z-index: 1; 
    top: 10px;
    left: 10px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 2em;
    transform: scale(1);
    transition: transform 0.3s ease, color 0.3s ease;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4); 
    -webkit-text-stroke: 1px var(--quinary-color);
}

.grid-item:hover .github-link,
.grid-item:hover .project-title {
    opacity: 1;
    transform: scale(1.2);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4); 
    -webkit-text-stroke: 1px var(--quinary-color);
}

.project-title2 {
    z-index: 1; 
    top: 10px;
    left: 10px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 2em;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4); 
    -webkit-text-stroke: 1px var(--quinary-color);
}

.github-link,
.project-title2 {
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: bold;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4); 
    -webkit-text-stroke: 1px var(--quinary-color);
}

.grid-item:hover .github-link,
.grid-item:hover .project-title,
.grid-item:hover .project-title2 {
    opacity: 1;
}

@media screen and (max-width: 900px) { 
    .grid-container {
        grid-template-columns: 1fr;
    }
}
/* -------------------------------- */
/* Contact settings */

.contact-container {
    margin-left: 50px;
    margin-bottom: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--tertiary-color);
}

.contact-container li {
    font-size: 1.5em; 
    margin-bottom: 10px; 
    
  }

  @media screen and (min-width: 1100px) { 
    .contact-container {
        margin-bottom: 800px;
    }
}
  
.contact-container ul {
    margin-top: -10px; 
}
/* -------------------------------- */
/* Typing effect setting */
.console-line {
    background-color: black;
    color: white;
    padding: 1rem;
    width: 80%; 
    height: auto;
    max-height: 500px; 
    min-height: 100px;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
    overflow-y: auto;
    white-space: pre-wrap; 
    font-family: 'Courier New', Courier, monospace; 
    opacity: 0;
    transition: opacity 2s ease-in-out;
    animation: fadeIn 2s forwards;
    line-height: 1.5;
    scrollbar-width: none; 
    -ms-overflow-style: none;  
}

.console-line::-webkit-scrollbar {
    display: none;
}


.console-cursor {
    display: inline-block;
    width: 10px;
    height: 20px;
    background: #fff;
    margin-left: 5px;
    animation: blink 1s steps(1) infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
/* -------------------------------- */

hr {
    border: 0;               /* Removes the default border */
    border-top: 1px solid var(--tertiary-color);  /* Creates a subtle light line */
    width: 70%;              /* Sets the width to 80% of its container */
    margin: 15px auto;       /* Centers the line and gives space above and below */
}